RPC_URL="Your url node or example https://rpc.quai.network"
BOT_TOKEN="Token Telegram Bot see @BotFather"
NODE_ENV="development or WEBHOOK_URL production"
WEBHOOK_URL="https://yourdomain.com"
PORT=3000
ENCRYPTION_KEY="run node generate_keys.js"
IV="run node generate_keys.js"
